.submit-box{
    padding: 2% 3%;
    line-height: 40px;
    font-size: large;
}

.photo-box{
    /*border: solid;*/
    max-width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-box img{
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.upload-btn-box{
    margin: 5px auto;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

input[type=text]{
    width: 95%;
    height: 25px;
    font-size: large;
}

.my-btn{
    background: #d35400;
}

.my-btn:hover{
    background: rgba(0, 128, 0, 0.6);
}

.pr-5{
    padding-right: 5px;
}

.hint-message{
    text-align: center;
    color: #d35400;
    font-size: 16px;
}







.select-box{
    margin: 0;
    padding: 0;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.input-select{
    /*border: solid;*/
    display: block;
    width: 20%;
    max-width: 200px;
    min-width: 120px;
    margin: 10px 0 10px 0.75%;
}

.input-box{
    height: 40px;
    width: 100%;
    font-size: large;
}

.rounded{
    border-radius: 5px;
}

.red{
    color: #d35400;
}


